{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
<div class="bloc_page">
    <div class="bordure"><!-- Bordure esthetique --></div>
    <bodyLast>
        <br>
        <div class="titres_loisirs"><h3>Sports de montagne</h3></div><br>
        <a href={{ asset("vignemale1.jpg") }} class="img_mont_fin"><img src={{ asset("vignemale1.jpg") }} alt="Vignemale" class="img_mont"></a>
        <a href={{ asset("vignemale2.jpg") }} class="img_mont_fin"><img src={{ asset("vignemale2.jpg") }} alt="Vignemale" class="img_mont"></a>
        <a href={{ asset("vignemale3.jpg") }} class="img_mont_fin"><img src={{ asset("vignemale3.jpg") }} alt="Vignemale" class="img_mont"></a>
        <a href={{ asset("neige1.jpg") }} class="img_mont_fin"><img src={{ asset("neige1.jpg") }} alt="neige" class="img_mont"></a>
        <a href={{ asset("neige2.jpg") }} class="img_mont_fin"><img src={{ asset("neige2.jpg") }} alt="neige" class="img_mont"></a>
        <a href={{ asset("corb.jpg") }} class="img_mont_fin"><img src={{ asset("corb.jpg") }} alt="corb" class="img_mont"></a>
    <br>
    <div class="titres_loisirs"><h3>Musique</h3></div><br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/hNTVwijad7w" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/oWfa7w6DiQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/zfhpcraTccc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </bodyLast>
</div>
    {% endblock %}