{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}


{% block body %}


<script>
    function cb(response) {
        document.getElementById('visits').innerText = response.value;
    }
</script>
<script async src="https://api.countapi.xyz/hit/cvjulienbonzom.online/visits?callback=cb"></script>
        <div class="bloc_page">
            <div class="bordure"><!-- Bordure esthetique --></div>
            <bodyLast>
                <div class="texte">
                    <div class="partie_inf">

                        <header>

                            <div class="entete_sup3">
                                <div class="entete_sup2">
                                    <div class="entete">
                                        <div class="nom">Julien BONZOM</div>
                                        <div class="texte2">
                                            100, avenue de la libération
                                            <br /> 33700 MERIGNAC
                                            <br /> tel: 06.76.11.84.57</div>

                                        <div class="mail"><a href="mailto:bonzomj@gmail.com">bonzomj@gmail.com</a></div>
                                        <br />
                                        <i>This site has been visited <span id="visits"></span> times.</i>
                                    </div>


                                    <div class="fonction">Développeur/Ingénieur Mécanique</div><!-- Titre -->
                                </div>
                                <div class="separation"></div>
                            </div>

                            <a href={{ asset("photo_J_BONZOM_2.jpg") }} ><img src={{ asset("photo_J_BONZOM_mini2.jpg") }}  alt="Photo de Julien BONZOM" title="Cliquez pour agrandir" class="fin"/></a><!--Image photo pouvant etre agrandie-->

                        </header>


                        <div class="total">
                            <section> <!-- Section -->
                                <div class="base">
                                    <div class="competences"><p><h2>Compétences:</h2>
                                        <ul>
                                            {% for skill in skills %}
                                            <li><Strong>Languages Informatiques:</Strong> {{ skill.Languages }}</li>
                                            <li><Strong>Outils AIRBUS:</Strong> {{ skill.AIRBUS }}</li>
                                            <li><Strong>Outils DASSAULT:</Strong> {{ skill.DASSAULT }}</li>
                                            <li><Strong>Outils CALCUL/DESIGN:</Strong> {{ skill.CALCUL_DESIGN }}</li>
                                            <li><Strong>Outils OFFICE:</Strong> {{ skill.OFFICE }}</li>
                                            <li><Strong>Langues:</Strong> {{ skill.Langues }}</li>
                                            {% endfor %}
                                        </ul>

                                    </div>

                                    <div class="formation"><p><h2>Formation:</h2>
                                        {% for formation in formations %}
                                        <ul>
                                            <li><Strong>{{ formation.date }}</Strong> {{ formation.texte }}</li>
                                        </ul>
                                        {% endfor %}

                                    </div>

                                    <div class="stages"><p><h2>Stages:</h2>
                                        <ul>
                                        {% for stage in stages %}
                                        <li><Strong>{{ stage.monthbegin }}/{{ stage.yearbegin }} – {{ stage.monthend }}/{{ stage.yearend }}:</Strong><br />Stage chez {{ stage.company }}.<br />{{ stage.descriptif }}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="loisirs"><p><h2>Loisirs:</h2>
                                        <ul>
                                            <li><i><a href="/loisirs#titres_montagne" >Sports de montagne</a>, sports de mer, <a href="/loisirs#titres_musique" >ateliers de musique Jazz</a>.</i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="espace"></div><!-- espace -->
                                <div class="pro"><h2>Expériences Professionnelles:</h2>
                                    <a href="http://127.0.0.1:8000/CV-J_BONZOM.pdf" target="_blank"><i><Strong>Curriculum vitae</Strong></i></a><br>
                                    {% set iteration = 0 %}
                                    {% for etapepro in etapespro %}
                                    {% set iteration = iteration + 1 %}
                                    <h3><Strong>{{ etapepro.mois }} {{ etapepro.year }} - {{ etapepro.job }} chez {{ etapepro.company }}</Strong><br /></h3>

                                        <img src={{ asset("menu.jpg") }} title="Cliquez pour etendre" id={{ 'bouton'~ iteration }} width="50" style="text-align: center"/>

                                        <div id={{ 'cacher'~ iteration }}>
                                        <ul>
                                            {% for step in steps %}
                                                {% if  step.etapespro.company  ==  etapepro.company  %}
                                                <li><Strong>{{ step.monthbegin }}/{{ step.yearbegin }} – {{ step.monthend }}/{{ step.yearend }}:</Strong><br />{{ step.description }}<br/>
                                                    <i>Utilisation {{ step.skills }}</i>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                        </div>
                                    <br>
                                    {% endfor %}




            </div>
<script>
    let bouton1 = document.getElementById("bouton1");
    let bouton2 = document.getElementById("bouton2");
    let bouton3 = document.getElementById("bouton3");
    let bouton4 = document.getElementById("bouton4");
    let bouton5 = document.getElementById("bouton5");
    let bouton6 = document.getElementById("bouton6");

    let cacher1 = document.getElementById("cacher1");
    let cacher2 = document.getElementById("cacher2");
    let cacher3 = document.getElementById("cacher3");
    let cacher4 = document.getElementById("cacher4");
    let cacher5 = document.getElementById("cacher5");
    let cacher6 = document.getElementById("cacher6");



            bouton1.addEventListener('click', function () {
                if (cacher1.style.display === "none") {
                    cacher1.style.display = "block";
                    bouton1.src = "menu2.jpg";
                    bouton1.title = "Cliquez pour réduire";
                } else {
                    cacher1.style.display = "none";
                    bouton1.src = "menu.jpg";
                    bouton1.title = "Cliquez pour étendre";

                }
            }
        )


            bouton2.addEventListener('click', function () {
                    if (cacher2.style.display === "none") {
                        cacher2.style.display = "block";
                        bouton2.src = "menu2.jpg";
                        bouton2.title = "Cliquez pour réduire";
                    } else {
                        cacher2.style.display = "none";
                        bouton2.src = "menu.jpg";
                        bouton2.title = "Cliquez pour étendre";

                    }
                }
            )

            bouton3.addEventListener('click', function () {
                    if (cacher3.style.display === "none") {
                        cacher3.style.display = "block";
                        bouton3.src = "menu2.jpg";
                        bouton3.title = "Cliquez pour réduire";
                    } else {
                        cacher3.style.display = "none";
                        bouton3.src = "menu.jpg";
                        bouton3.title = "Cliquez pour étendre";

                    }
                }
            )

    bouton4.addEventListener('click', function () {
            if (cacher4.style.display === "none") {
                cacher4.style.display = "block";
                bouton4.src = "menu2.jpg";
                bouton4.title = "Cliquez pour réduire";
            } else {
                cacher4.style.display = "none";
                bouton4.src = "menu.jpg";
                bouton4.title = "Cliquez pour étendre";

            }
        }
    )

    bouton5.addEventListener('click', function () {
            if (cacher5.style.display === "none") {
                cacher5.style.display = "block";
                bouton5.src = "menu2.jpg";
                bouton5.title = "Cliquez pour réduire";
            } else {
                cacher5.style.display = "none";
                bouton5.src = "menu.jpg";
                bouton5.title = "Cliquez pour étendre";

            }
        }
    )

    bouton5.addEventListener('click', function () {
            if (cacher6.style.display === "none") {
                cacher6.style.display = "block";
                bouton6.src = "menu2.jpg";
                bouton6.title = "Cliquez pour réduire";
            } else {
                cacher6.style.display = "none";
                bouton6.src = "menu.jpg";
                bouton6.title = "Cliquez pour étendre";

            }
        }
    )
    function AdapterDivAResolution() {
        let x_res = screen.width;
        let y_res = screen.height;
        const bouton1 = document.getElementById("bouton1")
        if(x_res < 1024)
        {
            bouton1.src="./images/menu2.jpg";
            bouton1.style.display = "block";
            bouton1.style.visibility="visible";
        }
    }
    AdapterDivAResolution()
    bouton1.addEventListener('click',cliquage, false);
</script>
   {% endblock %}