{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}


{% block body %}


<script>
    function cb(response) {
        document.getElementById('visits').innerText = response.value;
    }
</script>
<script async src="https://api.countapi.xyz/hit/cvjulienbonzom.online/visits?callback=cb"></script>
        <div class="bloc_page">
            <div class="bordure"><!-- Bordure esthetique --></div>
            <bodyLast>
                <div class="texte">
                    <div class="partie_inf">

                        <header>

                            <div class="entete_sup3">
                                <div class="entete_sup2">
                                    <div class="entete">
                                        <div class="nom">Julien BONZOM</div>
                                        <div class="texte2">
                                            100, avenue de la libération
                                            <br /> 33700 MERIGNAC
                                            <br /> tel: 06.76.11.84.57</div>

                                        <div class="mail"><a href="mailto:bonzomj@gmail.com">bonzomj@gmail.com</a></div>
                                        <br />
                                        <i>This site has been visited <span id="visits"></span> times.</i>
                                    </div>


                                    <div class="fonction">Développeur/Ingénieur Mécanique</div><!-- Titre -->
                                </div>
                                <div class="separation"></div>
                            </div>

                            <a href={{ asset("photo_J_BONZOM_2.jpg") }} ><img src={{ asset("photo_J_BONZOM_mini2.jpg") }}  alt="Photo de Julien BONZOM" title="Cliquez pour agrandir" class="fin"/></a><!--Image photo pouvant etre agrandie-->

                        </header>


                        <div class="total">
                            <section> <!-- Section -->
                                <div class="base">
                                    <div class="competences"><p><h2>Compétences:</h2>
                                        <ul>
                                            {% for skill in skills %}
                                            <li><Strong>Languages Informatiques:</Strong> {{ skill.Languages }}</li>
                                            <li><Strong>Outils AIRBUS:</Strong> {{ skill.AIRBUS }}</li>
                                            <li><Strong>Outils DASSAULT:</Strong> {{ skill.DASSAULT }}</li>
                                            <li><Strong>Outils CALCUL/DESIGN:</Strong> {{ skill.CALCUL_DESIGN }}</li>
                                            <li><Strong>Outils OFFICE:</Strong> {{ skill.OFFICE }}</li>
                                            <li><Strong>Langues:</Strong> {{ skill.Langues }}</li>
                                            {% endfor %}
                                        </ul>

                                    </div>

                                    <div class="formation"><p><h2>Formation:</h2>
                                        {% for formation in formations %}
                                        <ul>
                                            <li><Strong>{{ formation.date }}</Strong> {{ formation.texte }}</li>
                                        </ul>
                                        {% endfor %}

                                    </div>

                                    <div class="stages"><p><h2>Stages:</h2>
                                        <ul>
                                        {% for stage in stages %}
                                        <li><Strong>{{ stage.monthbegin }}/{{ stage.yearbegin }} – {{ stage.monthend }}/{{ stage.yearend }}:</Strong><br />Stage chez {{ stage.company }}.<br />{{ stage.descriptif }}</li>
                                        {% endfor %}
                                        </ul>
                                    </div>
                                    <div class="loisirs"><p><h2>Loisirs:</h2>
                                        <ul>
                                            <li><i>Sports de montagne, sports de mer, ateliers de musique Jazz.</i></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="espace"></div><!-- espace -->
                                <div class="pro"><h2>Expériences Professionnelles:</h2>
                                    <a href="http://127.0.0.1:8000/CV-J_BONZOM.pdf" target="_blank"><i><Strong>Curriculum vitae</Strong></i></a><br>
                                    {% for etapepro in etapespro %}
                                    <h3><Strong>{{ etapepro.mois }} {{ etapepro.year }} - {{ etapepro.job }} chez {{ etapepro.company }}</Strong><br /></h3>
                                    <div id="cacher">
                                        <img src="./images/menu.jpg" title="Cliquez pour etendre" id='bouton'/>
                                        <ul>
                                            {% for step in steps %}
                                                {% if  step.etapespro.company  ==  etapepro.company  %}
                                                <li><Strong>{{ step.monthbegin }}/{{ step.yearbegin }} – {{ step.monthend }}/{{ step.yearend }}:</Strong><br />{{ step.description }}<br/>
                                                    <i>Utilisation {{ step.skills }}</i>
                                                </li>
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    </div>
                                    <br>
                                    {% endfor %}




            </div>
   {% endblock %}




